.homeContainer {
  display: flex;
  flex-direction: column;
}

.homeFooter {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ThreeDModel {
  height: calc(100vh - 220px);
  /* background-color: aqua; */
}
