@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.homeContainer video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.ThreeDModel {
  height: calc(100vh - 220px);
  margin-top: 50px;
}

/* ABout */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-bckg);
}

.aboutContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: calc(100vh - 300px);
  width: 100vw;
}

.aboutContentLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 35%;
  margin: 10px;
  height: calc(100vh - 300px);
}

.aboutContentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 65%;
  margin: 10px;
  height: calc(100vh - 300px);
}

.aboutContentp {
  width: 80%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.aboutContentp b:hover {
  cursor: pointer;
}

.blackLogo {
  width: 75%;
  filter: invert(1);
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

::-webkit-scrollbar {
  display: none;
}

.homeRightContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeRightContentContainer h3 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.arrowIcon {
  cursor: pointer;
  margin-top: 40px;
  height: 30px;
  width: 30px;
  filter: invert(1);
  background-color: rgb(0, 0, 0);
  border-radius: 300px;
}
