.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.homeContainer video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.ThreeDModel {
  height: calc(100vh - 220px);
  margin-top: 50px;
}
