.footerContainer {
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 20px;
  width: calc(100vw - 55px);
  flex-direction: column;
}

.dateTimeComponent {
  margin-bottom: 10px;
}

.dateTimeComponent h3 {
  margin: 0px;
  padding: 0px;
}

.footerComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.footerLeft {
  width: 10%;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.footerMid {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 10%;
}

.coordinates {
  margin: 0px;
  padding: 0px;
  color: rgb(255, 255, 255, 0.15);
  cursor: default;
  width: fit-content;
}

.coordinates:hover {
  color: white;
  transition: all ease-in-out 0.2s;
}

.footerLeft-date {
  color: rgb(255, 255, 255, 0.15);
  cursor: default;
  width: fit-content;
}

.footerLeft-date:hover {
  color: white;
  transition: all ease-in-out 0.2s;
}

.footArrow {
  animation: pulse 5s infinite;
  transform: scale(1.5);
  cursor: pointer;
}

.footLinks {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.footLinks:hover {
  transform: scale(1.2);
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.footLinks h4 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.footLinks h4:hover {
  transform: scale(1.2);
  transition: all ease-in 0.2s;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    color: var(--black-bckg);
  }
  10% {
    color: #ff4136;
  }
  20% {
    color: #40ff60;
  }
  30% {
    color: #3268ff;
  }
  40% {
    color: #fcff4a;
  }
  50% {
    color: #8551ff;
  }
  60% {
    color: #ff531e;
  }
  70% {
    color: #36ffee;
  }
  80% {
    color: #ff1717;
  }
  90% {
    color: #a1ff36;
  }
  100% {
    color: #ffffff;
  }
}
